<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- game is fully playable without an external controller, so don't let this filter out devices in the Play Store -->
	<uses-feature android:name="android.hardware.gamepad" android:required="false" />
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.ISSB">
		<activity
			android:name=".MainActivity"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>